.dashboard-container,
.dashboard-content {
    display: flex;
}

.dashboard-content {
    flex-direction: column;
    flex: 1;
    /* Ocupa todo o espaço restante */
    overflow: auto;
    /* Permite rolagem se o conteúdo for maior que a tela */
}

/* Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: var(--bg-principal);
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: var(--bg-terciario);
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;
}

.menu {
    margin-top: 90px;
    height: 88%;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.menu li:hover,
.menu li.active {
    background-color: var(--bg-secundario);
}

.menu a {
    display: flex;
    align-items: center;
    color: var(--bg-principal);
    gap: 1.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    transition: color 0.5s ease;
}

.menu a:hover {
    color: var(--bg-hover);
}

.menu a span {
    overflow: hidden;
}

.menu a .fas {
    font-size: 1.1rem;
}


/* Header section */
.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 2rem;
    height: 50px;
    margin: 1rem;
    margin-right: 1rem;
}

.header--title {
    color: var(--bg-hover);
    text-align: left;
}

/* Dashboard Cards */
.card--container {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.lastOne {
    margin-bottom: 4rem;
}

.card--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.main--title {
    color: var(--bg-hover);
    padding-bottom: 10px;
    margin-top: 0;
}

.dashboard--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    width: 260px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}

.dashboard--card:hover {
    transform: translateY(-5px);
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 1rem;
    font-weight: 200;
}

.fas-icon {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgrey;
}

/* Cores dos cartões */
.light-red {
    background-color: rgb(247, 177, 177);
}

.light-purple {
    background-color: rgb(221, 177, 221);
}

.light-green {
    background-color: lightgreen;
}

.light-blue {
    background-color: lightblue;
}

.dark-red {
    background-color: red;
}

.dark-purple {
    background-color: purple;
}

.dark-green {
    background-color: green;
}

.dark-blue {
    background-color: blue;
}


/* Dashboard Section Table */

table {
    width: 100%;
    border-collapse: collapse;
    width: 100%;
    border: "1";
}

thead {
    background-color: var(--bg-principal);
    color: var(--bg-hover);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}

th,
td {
    padding: 0.3rem 0;
    border-bottom: 1px solid #ddd;
}

tbody {
    background-color: #fff;
}

tbody tr:hover {
    /* Efeito hover para realçar a linha */
    background-color: #e0f7fa;
    cursor: pointer;
}

td {
    font-size: 0.9rem;
    color: var(--bg-terciario);
}

tr:nth-child(even) {
    background-color: var(--bg-principal);
}

.btn--container {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
}

.btn--icon {
    display: flex;
    /* Torna o botão um contêiner flexível */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    padding: 8px;
    /* Controle o espaçamento interno do botão */
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
}

.tabela-produtos th:nth-child(1) {
    width: 20%;
    /* Produto */
}

.tabela-produtos th:nth-child(2) {
    width: 15%;
    /* Necessário */
}

.tabela-produtos th:nth-child(3) {
    width: 15%;
    /* Recebido */
}

.tabela-produtos th:nth-child(4){
    width: 20%;
    /* Qtd Baixa */
}

.tabela-produtos th:nth-child(5) {
    width: 10%;
    /* Meta */
}

.tabela-produtos th:nth-child(6) {
    width: 20%;
    /* Ações */
}

.tabela-produtos th {
    font-weight: 500;
}

.tabela-produtos td {
    border-right: 1px solid rgb(150, 150, 150);
}

.tabela-produtos td:nth-child(6) {
    border-right: none
}

.baixainput {
    width: 40%;
}

/* Dashboard User */
.user--container {
    display: flex;
    align-items: flex-start;
}

.user--container img {
    height: 300px;
    width: 300px;
    margin-right: 2rem;
    border: 1px solid var(--bg-secundario);
}

.user--container div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

.user--container div textarea {
    margin-bottom: 2rem;
}

.user--container h3 {
    margin-top: 2rem;
}

.card--content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.UserP {
    font-size: 1rem;
    text-align: left;
    padding: 2px;
    padding-left: 1rem;
    width: 100%;
    border: 1px solid var(--bg-terciario);
    border-radius: 10px;
    box-shadow:
        0 4px 8px rgba(199, 199, 199, 0.1),
        0 6px 20px rgba(199, 199, 199, 0.1);
    background-color: var(--bg-principal);
}

.UserLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
}

.dashboard--FAQ-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--bg-secundario);
    transition: all 0.5s ease-in-out;
    background-color: #eee;
    margin-bottom: 1rem;
}

.dashboard--FAQ-card:hover {
    transform: translateY(-5px);
}

/* Dashboard Cestas */
.cestas-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cestas--cadastroProduto {
    width: 35%;
}

.form-container {
    width: 100%;
}

.lista-produtos {
    width: 65%;
    padding: 20px;
    background: var(--bg-principal);
}

.lista-produtos table {
    font-size: 0.8rem;
}

.btnQtd {
    width: 100px;
    padding: 2px;
    font-size: 0.8rem;
}

.btnQtd.left {
    margin-left: 1rem;
}

.inputQtd {
    padding-left: 1rem;
    margin-right: 10px;
}


/* Suporte */

.form--span {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.form--span button {
    min-width: 220px;
    width: 45%;
}

.form--span select {
    flex: 1;
}

.form--support div {
    width: 100%;
}


/* FAQ */
.perguntas {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.marginBotton {
    margin-bottom: 0;
}


/* Responsividade */

/* Mobile */
@media (max-width: 480px) {
    .header--wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        min-height: 50px;
        height: fit-content;
    }

    .header--wrapper button {
        margin-bottom: 1rem;
        width: 100%;
    }

    .user--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user--container img {
        height: 200px;
        width: 200px;
        margin-right: 1rem;
        border: 1px solid var(--bg-secundario);
    }

    .form--span {
        flex-direction: column;
        padding: 0;
    }

    .form--span button {
        width: 100%
    }

    .form--support {
        width: 100%;
        font-size: .8rem;
    }

    .form--span select {
        margin-top: -10px;
        width: 100%;
    }

    .btn--container {
        display: flex;
        gap: 10px;
    }

    .btn--icon {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
        padding: 0;
    }

    .tabela-produtos td:nth-child(5),
    .tabela-produtos th:nth-child(5) {
        display: none;
        /* Meta */
    }
}

/* Extra small devices to medium devices*/
/* @media (min-width: 481px) and (max-width: 767px) { */
/* Responsividade */

/* Mobile (max-width: 767px) */
@media (max-width: 767px) {
    .dashboard-container {
        flex-direction: column;
    }

    .fas {
        width: 16px;
        height: 16px;
    }

    .sidebar {
        /* position: fixed; */
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        padding: 0;
        background-color: var(--bg-terciario);
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding: 0;
        margin-top: 2px;
    }

    .menu li {
        margin: 0;
        padding: 1rem;
    }

    .menu a {
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }

    /* Oculta o texto no modo móvel */
    .menu-text {
        display: none;
    }

    .tabela-produtos th {
        border-right: 1px solid rgb(150, 150, 150);
    }

    .tabela-produtos th:nth-child(2),
    .tabela-produtos td:nth-child(2) {
        display: none;
        /* Ações */
    }

    .tabela-produtos th:nth-child(6) {
        border-right: none
        /* Ações */
    }

    .baixainput{
        width: 80%;
    }

    .baixaInput--unidade{
        display: none;
        /* Qtd Baixa */
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 1023px) {
    
    .baixainput{
        width: 60%;
    }

    .baixaInput--unidade{
        display: none;
        /* Qtd Baixa */
    }
    
}