.CEContainer{
    margin-bottom: 60px;
}

.CESelect{
    margin: 10px 0;
    padding-left: 15px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    text-align: left;
    color: #666;
    font-weight: 400;
    border: 1px solid var(--bg-terciario);
    box-shadow:
        0 4px 8px rgba(199, 199, 199, 0.1),
        0 6px 20px rgba(199, 199, 199, 0.1);
}

.CEForm {
    width: 820px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "cnpj cnpj cnpj cnpj"
        "razaoSocial razaoSocial razaoSocial razaoSocial"
        "nomeFantasia nomeFantasia nomeFantasia nomeFantasia"
        "tipoEntidade tipoEntidade tipoEntidade enderecoCep"
        "enderecoRua enderecoRua enderecoRua enderecoNum"
        "enderecoComp enderecoComp enderecoBairro enderecoBairro"
        "enderecoCidade enderecoCidade enderecoCidade enderecoEstado"
        "email email email email"
        "responsavel responsavel telefone telefone"
        "senha senha confirmeSenha confirmeSenha"
        "termo termo termo termo"
        "button button button button";
}

input[name="cnpj"] { grid-area: cnpj; }

input[name="razaoSocial"] { grid-area: razaoSocial; }

input[name="nomeFantasia"] { grid-area: nomeFantasia; }

select[name="tipoEntidade"] { grid-area: tipoEntidade; }

input[name="enderecoCep"] { grid-area: enderecoCep; }

input[name="enderecoRua"] { grid-area: enderecoRua; }

input[name="enderecoNum"] { grid-area: enderecoNum; }

input[name="enderecoComp"] { grid-area: enderecoComp; }

input[name="enderecoBairro"] { grid-area: enderecoBairro; }

input[name="enderecoCidade"] { grid-area: enderecoCidade; }

input[name="enderecoEstado"] { grid-area: enderecoEstado; }

input[name="nomeResponsavel"] { grid-area: responsavel; }

input[name="telefoneResponsavel"] { grid-area: telefone; }

input[name="email"] { grid-area: email; }

input[name="senha"] { grid-area: senha; }

input[name="senha2"] { grid-area: confirmeSenha; }

div[name="termo"] { grid-area: termo; }

button[name="CEbutton"] { grid-area: button; }


.errorMessage {
    color: red;
    grid-column: 1 / -1; /* Para que ocupe a largura total do formulário */
    text-align: center;
}

.termo-checkbox{
    display: flex;
    font-size: 0.7rem;
}

.termo-checkbox input{
    width: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Responsividade */

/* Mobile */
@media (max-width: 480px) {
    .CEForm{
        width: 100%;
    }
    input{
        font-size: 0.9rem !important;
    }
}

/* Extra small devices to medium devices*/
@media (min-width: 481px) and (max-width: 1023px) {
    .CEForm{
        width: 80%;
    }
}