.CEContainer{
    margin-bottom: 60px;
}

.CEForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "cnpj cnpj"
        "razaoSocial razaoSocial"
        "nomeFantasia nomeFantasia"
        "endereco endereco"
        "email email"
        "responsavel telefone"
        "senha confirmeSenha"
        "button button";
}

input[name="CNPJ"] {
    grid-area: cnpj;
}

input[name="RazaoSocial"] {
    grid-area: razaoSocial;
}

input[name="NomeFantasia"] {
    grid-area: nomeFantasia;
}

input[name="Endereco"] {
    grid-area: endereco;
}

input[name="Responsavel"] {
    grid-area: responsavel;
}

input[name="Telefone"] {
    grid-area: telefone;
}

input[name="Email"] {
    grid-area: email;
}

input[name="Senha"] {
    grid-area: senha;
}

input[name="ConfirmeSenha"] {
    grid-area: confirmeSenha;
}

button[name="CEbutton"] {
    grid-area: button;
}
