.CAEContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    background-color: rgb(198, 222, 233);
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.CAEcarrousselExterno{
    overflow: hidden;
}

.CAECarousel{
    width: 100%;
    max-width: 1000px;
    margin: 0;
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(-180px);
    transition: transform 0.5s ease-in-out;
}

.Card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 210px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    overflow: visible;
    transition: transform 0.3s ease-in-out;
}

.Card:hover {
    transform: translateY(-10px); /* Eleva o card quando o mouse passa por cima */
}

.CardTitle{
    font-size: 1rem;
    font-weight: lighter;
    margin: 5px;
    margin-bottom: 10px;
}

.CardImg{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    box-shadow: rgba(27, 34, 183, 0.08) 4px 4px 8px 0px, rgba(27, 34, 183, 0.07) 0px 6px 20px 0px !important;
    margin: 10px;
    border-bottom: 1px solid #ddd;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 50px;
}

.carousel-button.next {
    right: 50px;
}