.ContatoContainer{
    margin-bottom: 100px;
}

.ContatoForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "nome nome"
        "email telefone"
        "mensagem mensagem"
        "button button";
}

input[name="nome"] {
    grid-area: nome;
}

input[name="email"] {
    grid-area: email;
}

.IMaskInput {
    grid-area: telefone;
}

.ContatoInput, 
.ContatoTextarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.ContatoInput:focus, 
.ContatoTextarea:focus {
    border-color: #3a77ff;
    outline: none;
    box-shadow: 0 0 5px rgba(58, 119, 255, 0.3);
}

.ContatoTextarea {
    grid-area: mensagem;
    resize: none;
    height: 100px;
}