.dashboard-container{
    display: flex;
}
.dashboard-content{
    display: flex;
    flex-direction: column;
}

/* Sidebar */
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: var(--bg-principal);
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: var(--bg-terciario);
}

.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}

.logo{
    height: 80px;
    padding: 1.3rem;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active{
    background-color: var(--bg-secundario);
}

.menu a{
    display: flex;
    align-items: center;
    color: var(--bg-principal);
    gap: 1.5rem;
    font-size: 0.8rem;
    text-decoration: none;
}
.menu a:hover{
    color: var(--bg-hover);
}

.menu a span{
    overflow: hidden;
}

.menu a .fas{
    font-size: 1.1rem;
}


/* main body section */
.main--content{
    position: relative;
    background-color: var(--bg-terciario);
    /* width: 100%; */
    width: 85vw;
    padding: 1rem;
}

.header--wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-principal);
    border-radius: 10px;
    padding: 5px 2rem;
    margin-bottom: 1rem;
}

.header--wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.header--title{
    color: var(--bg-hover);
    text-align: left;
}

.header--title h2{
    margin-top: 0;
    margin-bottom: 0;
}


.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box{
    display: flex;
    align-items: center;
    background-color: #fff;
    color: var(--bg-hover);
    border-radius: 15px;
    gap: 10px;
    padding: 4px 12px;
}

.input--dashboard{
    height: 1.7rem;
    background: transparent;
    padding: 10px;
    border: none;
    box-shadow: none;
}

.input--dashboard:focus{
    border-color: none;
    outline: none;
    box-shadow: none;
}

.search--icon{
    font-size: 1srem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search--icon:hover{
    transform: scale(1.1);
}

