.dashboard-container{
    display: flex;
}
.dashboard-content{
    display: flex;
    flex-direction: column;
}

/* Sidebar */
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: var(--bg-principal);
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: var(--bg-terciario);
}

.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}

.menu{
    margin-top: 90px;
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active{
    background-color: var(--bg-secundario);
}

.menu a{
    display: flex;
    align-items: center;
    color: var(--bg-principal);
    gap: 1.5rem;
    font-size: 0.8rem;
    text-decoration: none;
}
.menu a:hover{
    color: var(--bg-hover);
}

.menu a span{
    overflow: hidden;
}

.menu a .fas{
    font-size: 1.1rem;
}


/* Header section */
.main--content{
    position: relative;
    width: 100%;
    padding: 1rem;
}

.header--wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 2rem;
    height: 70px;
}

.header--title{
    color: var(--bg-hover);
    text-align: left;
}

.header--title h2{
    margin-top: 0;
    margin-bottom: 0;
}


.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box{
    display: flex;
    align-items: center;
    background-color: var(--bg-principal);
    color: var(--bg-hover);
    border-radius: 15px;
    gap: 10px;
    padding: 4px 12px;
}

.input--dashboard{
    height: 1.7rem;
    background: transparent;
    padding: 10px;
    border: none;
    box-shadow: none;
}

.input--dashboard:focus{
    border-color: none;
    outline: none;
    box-shadow: none;
}

.search--icon{
    font-size: 1srem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search--icon:hover{
    transform: scale(1.1);
}


/* Dashboard Cards */
.card--container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 1rem;
}

.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.main--title{
    color: var(--bg-hover);
    padding-bottom: 10px;
    font-size: 0.9rem;
    margin-top: 0;
}

.payment--card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-secundario);
    border-radius: 10px;
    padding: 1rem;
    width: 260px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}

.payment--card:hover{
    transform: translateY(-5px);
}

.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title{
    font-size: 1rem;
    font-weight: 200;
}

.fas-icon{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgrey;
}

/* Cores dos cartões */
.light-red{
    background-color: rgb(247, 177, 177);
}
.light-purple{
    background-color: rgb(221, 177, 221);
}
.light-green{
    background-color: lightgreen;
}
.light-blue{
    background-color: lightblue;
}
.dark-red{
    background-color: red;
}
.dark-purple{
    background-color: purple;
}
.dark-green{
    background-color: green;
}
.dark-blue{
    background-color: blue;
}


/* Dashboard Section Table */
.tabular--wrapper{
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
    margin-bottom: 80px;
}

.table--container{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color: var(--bg-principal);
    color: var(--bg-hover);
}

th{
    padding: 1rem 0;
}

tbody{
    background-color: #fff;
}

td{
    padding: 0.3rem 0;
    font-size: 0.8rem;
    color: var(--bg-terciario);
}

tr:nth-child(even){
    background-color: var(--bg-principal);
}

.iconEditTrash{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 30px;
    gap: 10px;
}

tfoot{
    background-color: var(--bg-secundario);
    font-weight: bold;
    color: red;
}

tfoot td{
    padding: 1rem;
}

.table--container button{
    padding: 5px 5px;
    width: 80px;
}