.SobreNosContainer{
    width: 100%;
    padding: 20px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.sobreContainer {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.sobreContainer img{
    margin-right: 20px;
    margin-left: 20px;
    max-width: 300px;
    border-radius: 50%;

}

.sobreContainer p{
    text-align: justify;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 3rem;
}

@media (max-width: 768px) {
    .sobreContainer {
        flex-direction: column;
        align-items: center;
    }

    .sobreContainer.SobreNosImg {
        width: 100%;
        max-width: 300px;
    }

    .sobreContainer p {
        font-size: 1.1rem;
        text-align: justify;
    }
}